# macOS
.DS_Store

# Xcode
DerivedData/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# SwiftPM
.build/

# CocoaPods (if you ever add it)
Pods/
*.xcworkspace

# Firebase/Secrets
GoogleService-Info.plist

# Logs
*.log
